{% extends "layout.html" %}
{% block head %}
  {{ super() }}
<!-- LOAD PRE-REQUISITES FOR GOOGLE SIGN IN  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script src="//apis.google.com/js/platform.js?onload=start">
  </script>
<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  {% block title %}
    Login
  {% endblock %}
{% endblock %}
{% block header %}
{{ super() }}
{% endblock %}
{% block content %}
<h1 class="text-center">Login</h1>
<form action='{{url_for('loginValidation')}}' method = 'post'>
    <div class="container ">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Email Id" name="email_id" required>
          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked"> Remember me
          </label>
        </div>
        <div class="col-md-4 gbtn" >
                <div id="signinButton">
                  <span class="g-signin"
                  data-scope="openid email"
                  data-clientid="89131683250-s0ojqe662hneoo5pe7ojmo0tbc3lin6r.apps.googleusercontent.com"
                  data-redirecturi="postmessage"
                  data-accesstype="offline"
                  data-cookiepolicy="single_host_origin"
                  data-callback="signInCallback"
                  data-approvalprompt="force">
                  </span>
                </div>
          </div>
      </div>
  </div>
</form>

<!-- Google script for login -->
<script>
function signInCallback(authResult) {
  if (authResult['code']) {
  //console.log(authResult)
// Hide the google sign-in button now that the user is authorized
  $('#signinButton').attr('style', 'display: none');
// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
  $.ajax({
    type: 'POST',
    url: '/gconnect?state={{STATE}}',
    processData: false,
    data: authResult['code'],
    contentType: 'application/octet-stream; charset=utf-8',
    success: function(result)
     {
      // Handle or verify the server response if necessary.
      if (result)
       {
          //$('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                  window.location.href = "/home";
       }
        else if (authResult['error'])
         {
            console.log('There was an error: ' + authResult['error']);
          }
        else
         {
           $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
  }); } }
</script>

{% endblock %}
