{% extends "layout.html" %}
{% block title %}Registration{% endblock %}
{% block header %}

{{ super() }}
{% endblock %}
{% block content %}
<h1 class="text-center">Registration</h1>

<form action='{{url_for('register')}}' method = 'post'>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label><b>Username</b></label>
            <input type="email" class="form-control" placeholder="Enter Email Id" name="email_id" aria-describedby="emailHelp"  required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="psw" required>
          </div>
          <div class="form-group">
            <label><b>Confirm Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="cpsw" required>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</form>
<script>
{% endblock %}
